.contact-header {
    border-bottom: 2px solid var(--primary-color);
    padding-left: 10px;
}

.contact-item {
    /* background-color: blue; */
    padding-left: 10px;
    cursor: pointer;
}

.selected {
    background-color: var(--c-yellow);
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    .col-span-6 {
        width: 99vw;
    }
    .messages {
        transform: translateX(50%);
    }
}